.container {
	width: 70%;
	margin: auto;
	text-align: center;
}

.dice {
	text-align: center;
	display: inline-block;
}

body {
	background-color: #393e46;
}

h1 {
	margin: 30px;
	font-family: 'Lobster', cursive;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #dddddd;
}

p {
	font-size: 2rem;
	color: #dddddd;
	font-family: 'Indie Flower', cursive;
}

img {
	width: 80%;
}

.copyright {
	color: #fff;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	padding: 10px;
}
.copyright p {
	margin-top: 14%;
	font-size: 14px;
}
